html {
  background-color: #99F8FF;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a {
  padding: 0px 60px;
  display: inline-block;
}


h1{

  font-size: 31 px;
}

.button {
   border: 2px solid #000000;
   background: #000000;
   padding: 2px 4px;
   border-radius: 7px;
   color: white;
   font-size: 24px;
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
   text-decoration: none;
   vertical-align: middle;
   }

.button:hover {
   border: 2px solid #0a3c59;
   background: white;
   color: black;
   }

   footer{
    text-align: center;
   }

   nav{
    text-align: center;
  background-color: white;
  margin: 0px -12.5%;
  border: 2px solid black;
  padding-top: 15px;
  padding-bottom: 15px;
}